# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Gitcodes\java-matchinggame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
